@use '../abstracts/abstracts' as *;
@use '../base/reset' as rs;
@use '../abstracts/mixins' as mixins;

.hero {
    margin-left: auto;
    margin-right: auto;
    background-color: $black;
    color: white;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    margin-top: -1px;
    margin-bottom: 40px;
    

    &__section {
        background-color: $black;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 20px;
        padding-left: 16px;
        padding-right: 16px;

        @include mixins.breakpoint(tablet) {
            display: inline-block;
            align-items: center;
            padding-left: 30px;
            padding-right: 30px;
        }

        @include mixins.breakpoint(desktop) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding-left: 165px;
            padding-right: 165px;
        }

        &__title {
            font-family: Poppins, sans-serif;
            color: white;
            margin-bottom: 20px;
            z-index: 3;
            margin-right: auto;
            margin-left: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            @include mixins.breakpoint(desktop) {
                align-items: flex-start;
                margin-left: 0;
                min-width: 300px;
            }

            h1 {
                font-size: 30px;
                font-weight: 700;
                line-height: 1.2;
                letter-spacing: 2.5px;
                margin-bottom: 30px;
                text-align: center;
                @include mixins.breakpoint(tablet) {
                    font-size: 45px;
                }
                @include mixins.breakpoint(desktop) {
                    font-size: 70px;
                    text-align: left;
                    width: 100%;
                    min-width: 470px;
                    text-shadow: 1px 1px 2px rgb(21, 21, 21), -1px -1px 2px rgb(21, 21, 21), 1px -1px 2px rgb(21, 21, 21), -1px 1px 2px rgb(21, 21, 21);
                }
            }

            h2 {
                font-size: 20px;
                font-weight: 400;
                line-height: 1.2;
                letter-spacing: 1.5px;
                color: $green;
                text-align: center;
                margin-bottom: 30px;
                max-width: 450px;
                @include mixins.breakpoint(tablet) {
                    font-size: 25px;
                    max-width: 600px;
                    text-align: center;
                }
                @include mixins.breakpoint(desktop) {
                    font-size: 30px;
                    text-align: left;
                    width: 100%;
                    min-width: 470px;
                }
            }

            h3 {
                font-size: 20px;
                font-weight: 400;
                line-height: 1.2;
                letter-spacing: 1.5px;
                color: $grey;
                margin-bottom: 40px;
                text-align: center;
                max-width: 500px;
                @include mixins.breakpoint(tablet) {
                    font-size: 27px;
                }
                @include mixins.breakpoint(desktop) {
                    font-size: 30px;
                    text-align: left;
                    max-width: 100%;
                    min-width: 470px;
                    text-shadow: 1px 1px 2px rgb(21, 21, 21), -1px -1px 2px rgb(21, 21, 21), 1px -1px 2px rgb(21, 21, 21), -1px 1px 2px rgb(21, 21, 21);
                }
            }

            &__image {
                max-width: 485px;
                height: auto;
                flex-shrink: 0;
                margin-right: auto;
                margin-left: auto;
                border-radius: 10px;
                box-shadow: 0 10px 30px rgba(255, 255, 255, 0.2);
                margin-bottom: 20px;

                @include mixins.breakpoint(desktop) {
                    display: none;
                }

                img {
                    width: 100%;
                    max-width: 485px;
                    height: auto;
                    border-radius: 10px;
                    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.2);
                }
            }

            &__buttons {
                margin-right: auto;
                margin-left: auto;
                width: 100%;
                max-width: 485px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                background-color: transparent;
                padding: 5px;
                @include mixins.breakpoint(tablet) {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    flex: 1;
                }

                @include mixins.breakpoint(desktop) {
                    margin-left: 0;
                    max-width: 100%;
                }

                div {
                    width: 100%;
                    max-width: 485px;
                    min-height: 90px;
                    box-sizing: border-box;
                    flex: 1;

                    .big_number {
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 1.2;
                        color: black;
                        padding: 5px;
                        opacity: 0.8;
                    }

                    .cursiva {
                        text-align: center;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 1.2;
                        color: $dark_grey;
                        font-style: italic;
                        padding: 0 8px 5px 8px;
                    }
                }
            }

            &__buttons > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: $grey;
                color: $black;
                padding: 5px;
                border-radius: 0 15px 0 15px;
                text-align: center;
                min-width: 145px;
                transition: transform 0.3s ease-in-out;
                @include mixins.breakpoint(tablet) {
                    width: 50px;
                }

                @include mixins.breakpoint(desktop) {
                    max-width: 250px;
                }
                
                &:hover {
                    transform: translateY(-10px);
                }
            }
        }

        &__img {
            display: none;
            @include mixins.breakpoint(desktop) {
                display: block;
                width: 100%;
                max-width: 500px;
                height: auto;
                flex-shrink: 0;
                margin-bottom: 50px;
                
                &__image {
                    width: 100%;
                    max-width: 500px;
                    height: auto;

                    img {
                        width: 100%;
                        max-width: 500px;
                        height: auto;
                        border-radius: 10px;
                        box-shadow: 0 10px 30px rgba(255, 255, 255, 0.2);
                    }
                }
            }
        }
    }

    &__description {
        margin-right: auto;
        margin-left: auto;
        position: relative;
        width: 100%;
        height: auto;
        background-color: $black;
        overflow: hidden;
        padding-right: 16px;
        padding-left: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;
        padding-bottom: 20px;

        @include mixins.breakpoint(tablet) {
            padding-right: 30px;
            padding-left: 30px;
        }
        @include mixins.breakpoint(desktop) {
            display: grid;
            grid-template-columns: 2fr 1fr 2fr;
            overflow: hidden;
            box-sizing: border-box;
            align-items: stretch;
            padding-right: 165px;
            padding-left: 165px;
            width: 100%;
            gap: 20px;
        }
    
        &__text {
            width: 100%;
            max-width: 485px;
            padding-left: 16px;
            padding-right: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            z-index: 5;

            @include mixins.breakpoint(tablet) {
                width: 100%;
                padding-left: 30px;
                padding-right: 30px;
            }

            @include mixins.breakpoint(desktop) {
                width: 100%;
                max-width: 300px;
                display: flex;
                max-height: 100%;
                position: relative;
                z-index: 2;
                margin: 0 20px;
                padding: 20px;
                object-fit: fill;
                box-sizing: border-box;
            }
        }
    
        &__text > div {
            font-family: $font;
            font-size: 16px;
            font-weight: 400;
            max-width: 485px;
            height: auto;
            margin: 10px 0;
            background-color: $grey;
            padding: 15px;  
            border-radius: 0 15px 0 15px;
            color: $dark_grey;
            box-shadow: 0 10px 30px rgba(255, 255, 255, 0.2);
            transition: transform 0.3s ease-in-out;
            &:hover {
                transform: translateY(-10px);
            }
            @include mixins.breakpoint(desktop) {
                width: 300px;
            }

            p {
                margin-bottom: 0;
                text-align: justify;
                color: $dark_grey;
                font-size: 16px;
                line-height: 1.5;
            }
        }

        &__content {
            width: 100%;
            max-width: 485px;
            margin: 0 auto;
            padding: 10px;
            box-sizing: border-box;

            &__image {
                width: 100%;
                max-width: 485px;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: auto;
                    max-width: 485px;
                    display: block;
                    border-radius: 10px;
                    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.2);
                }
            }
        }

        &__img {
            width: 100%;
            max-width: 485px;
            margin: 0 auto;
            padding: 10px;
            box-sizing: border-box;
            position: relative;

            &__logo {
                width: 100%;
                max-width: 485px;
                margin: 0 auto;
                
                img {
                    width: 100%;
                    max-width: 485px;
                    height: auto;
                    display: block;
                    border-radius: 10px;
                    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.2);
                    
                    @include mixins.breakpoint(desktop) {
                        position: absolute;
                        bottom: 25px;
                    }
                }
            }
        }
    }
}

.line {
    width: 100%;
    height: 1px;
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
}

